<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learn02_mybaties_encrypt.CustomerDao">

    <resultMap id="BaseResultMapper" type="com.example.learn02_mybaties_encrypt.Customer">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="created_date" property="createdDate"/>
    </resultMap>

    <insert id="insertCustomer">
        insert into customer(phone,address) values (#{phone},#{address})
    </insert>

    <select id="findCustomer" resultMap="BaseResultMapper">
        select * from customer where phone = #{phone} order by created_date desc
    </select>

    <select id="findAll" resultMap="BaseResultMapper">
        select * from customer order by created_date desc
    </select>

</mapper>